.input-hidden {
    position: absolute;
    left: -9999px;
  }
  
  input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #FF6A00;
    margin-top: 15px;
  }
  
  /* Stuff after this is only to make things more pretty */
  input[type=radio] + label>img {
    border: 1px dashed #FF6A00;
    width: 150px;
    height: 150px;
    transition: 500ms all;
    margin-top: 15px;

  }


  input[type=radio]:checked + label>span {
    font-weight: bold;
    
  }

  
  
  /* Stuff after this is only to make things more pretty */
  /* input[type=radio] + label>img {
    border: 1px dashed #FF6A00;
    width: 150px;
    height: 150px;
    transition: 500ms all;
  } */
  
  /* input[type=radio]:checked + label>img {
    transform: 
      rotateZ(-10deg) 
      rotateX(10deg);
  } */

  #option-qty-price{
    font-weight: bold;
    font-size: 29px;
    color: #FF6A00 ;
  }